.facilities{
    background-color: $color-oscuro;
    padding: 4rem 1rem;
    &__subtitle{
        @include archivo-font;
        color: $color-blanco;
        font-weight: 700;
        font-size: .9rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
        text-align: center;
        margin-bottom: 1rem
    }

    &__title{
        @include old-standard-font;
        @include section-title;
        color: $color-blanco;
        text-align: center;
        margin-bottom: 1rem;
    }

    .facilities-list-swiper{
        padding: 3rem 0;
        .facility{
            position: relative;
            background-color: $color-oscuro-mas-claro;
            padding: 2rem 1rem;
            &__number{ 
                @include archivo-font;
                position: absolute;
                top: 0;
                right: 5%;
                font-size: 7.5rem;
                color: $color-oscuro;
                font-weight: 700;
            }
    
            &__icon{
                margin-bottom: 1.75rem;
            }
    
            &__title{
                @include old-standard-font;
                color: $color-blanco;
                font-size: 1.9rem;
                font-weight: 400;
                letter-spacing: -.05rem;
            }
    
            &__text{
                @include archivo-font;
                color: $color-blanco;
                line-height: 1.5rem;
                font-size: 0.9rem;
            }
        }

        .swiper-pagination-bullet-active{
                background-color: $color-caqui;
        }
    }

}