.popular-rooms{
    text-align: center;
    background-color: $color-oscuro;
    padding: 3rem 0;
    margin-bottom: 2rem;
    &__subtitle{
        @include archivo-font;
        font-weight: 700;
        font-size: .9rem;
        text-transform: uppercase;
        color: $color-caqui;
        letter-spacing: .1rem;
        margin-bottom: 1rem
    }

    &__title{
        @include old-standard-font;
        display: inline-block;
        font-weight: 400;
        font-size: 2.25rem;
        text-decoration: none;
        color: $color-blanco;
        width: 80%;
    }

    .popular-rooms-swiper{
        width: 90%;
        position: relative;
        .room{
            text-align: center;
            
            &__image{
                width: 100%;
                aspect-ratio: 16/9;
                object-fit: cover;
                margin-bottom: -1.5rem;
            }

            &__characteristics{
                padding: .8rem 1.5rem;
                list-style: none;
                display: inline-flex;
                gap: 1rem;
                align-items: center;
                background-color: $color-blanco;
                position: relative;
                z-index: 1;
            }

            &__description{
                transition: opacity 150ms ease-in;
                opacity: 0;
                width: 100%;
                margin-top: -2.1rem;
                background-color: $color-blanco;
                position: relative;
                padding: 1rem 2rem;
                padding-top: 3rem;
                &__text-container{
                    
                    &__name{
                        display: inline-block;
                        @include old-standard-font;
                        font-size: 1.75rem;
                        font-weight: 400;
                        letter-spacing: -.05rem;
                        color: $color-negro;
                        text-decoration: none;
                        margin-bottom: .5rem;
                    }

                    &__mini-description{
                        @include roboto-font;
                        color: $color-gris;
                        font-size: 0.9rem;
                        margin-bottom: 1rem;
                    }

                }

                &__price{
                    font-size: 2rem;
                    color: $color-caqui;
                    font-weight: 700;

                    &__per-night{
                        font-size: 0.8rem;
                    }
                }
            }

            
        }

        .room.swiper-slide-active{

            .room__description{
                opacity: 1; 
            }
        }

        .swiper-button-prev, .swiper-button-next{
            position: absolute;
            top: 25%;
            padding: 0 1.3rem;
        }

        .swiper-button-prev{
            left: 0;
            background-color: $color-blanco;
        }
   
        .swiper-button-next{
            right: 0;
            background-color: $color-blanco;
        }

        .swiper-button-prev::after, .swiper-button-next::after{
           font-size: .7rem;
           color: $color-negro;
        }   
    }
}