
.hotel-images-swiper{
    

    .swiper-slide{
        padding: 2rem 1rem;

        .hotel-image{
            width: 100%;
            aspect-ratio: 1/1;
        }
    }

    .swiper-pagination{

        .swiper-pagination-bullet-active{
            background-color: $color-caqui;
        }   
    }
}