.menu{
    position: relative;
    padding: 1.5rem;
    padding-top: 7rem;
    overflow-x: hidden;
    &__donut-image{
        position: absolute;
        right: -7%;
        top: 0;
        width: 115px;
    }

    &__subtitle{
        @include archivo-font;
        font-size: 0.9rem;
        font-weight: 700;
        letter-spacing: .15rem;
        text-transform: uppercase;
        color: $color-gris;
        margin-bottom: 1.5rem;
    }

    &__title{
        @include section-title;
        @include old-standard-font;
    }

    .food-list{
        list-style-type: none;

        .food{
            margin-bottom: 1rem;
            &__link{
                display: flex;
                justify-content: space-between;
                color: $color-negro;
                text-decoration: none;
                &__image{
                    width: 40%;
                    height: auto;
                    aspect-ratio: 3 / 4;
                    object-fit: cover;
                }

                &__text-container{
                    width: 55%;
                    padding: 1rem 0;
                    padding-bottom: 0;
                    &__title{
                        @include old-standard-font;
                        font-size: 1.5rem;
                        margin-bottom: 1.5rem;
                        font-weight: 400;
                        letter-spacing: -.05rem;
                    }

                    &__text{
                        @include roboto-font;
                        font-size: 0.9rem;
                        line-height: 1.5rem;
                    }

                }
                &__hidden-arrow{
                    display: none;
                }
            }
        }
    }

    .food-list-swiper{
        padding-bottom: 5rem;
        .swiper-button-next, .swiper-button-prev{
            position: absolute;
            background-color: $color-blanco-roto;
            color: $color-negro;
            padding: 0 1.3rem;
            font-size: 1.1rem;
            top: 95%;
        }

        .swiper-button-next{
            right: 0;
        }

        .swiper-button-prev{
            left: 70%;
        }

        .swiper-button-prev::after, .swiper-button-next::after{
            content: "";
            display: none;
        }
    }
}

@media only screen and (min-width: 1000px) {
    .menu{
        padding: 0 20rem;
        padding-top: 15rem;
        margin-bottom: 5rem;
        &__donut-image{
            width: 230px;
            right: auto;
            left: 3%;
        }

        &__title{
            font-size: 5rem;
        }

        .food-list-swiper{
            padding: 0;
            padding-top: 7rem;
            text-align: right;
            .food{
                text-align: left;
                padding-right: 2rem;
                &__link{
                    justify-content: start;
                    align-items: center;
                    &__image{
                        aspect-ratio: 1 / 1;
                        width: 20%;
                    }

                    &__text-container{
                        width: auto;
                        padding: 0;
                        padding-left: 2rem;
                        align-content: center;
                    }
                }
                &:hover{
                    background-color: $color-oscuro;
                    
                    & .food__link{
                        color: $color-blanco;
                    }

                    & .food__link__hidden-arrow{
                        display: block;
                    }
                }
            }
            
            .swiper-button-next, .swiper-button-prev{
                width: auto;
                height: auto;
                padding: .5rem 1rem;
                margin-bottom: 2rem;
                font-size: 2rem;
                position: static;
                display: inline-block;
                transition: background-color 150ms ease-in, color 150ms ease-in;
            }
            
            .swiper-button-prev{
                margin-right: 2rem;
            }

            .swiper-button-next:hover, .swiper-button-prev:hover{
                background-color: $color-caqui;
                color: $color-blanco;
            }
        }
  
    }
}