.rooms-section{
    margin-bottom: 2.5rem;
    

    &__subtitle{
        font-size: 0.9rem;
        font-weight: 700;
        @include roboto-font;
        letter-spacing: .2rem;
        text-transform: uppercase;
        color: $color-gris;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    &__title{
        @include section-title;
        @include old-standard-font;
        text-align: center;
        margin-bottom: 3rem;
    }

    &__swiper{
        width: 100%;
        position: relative;
        .room-selection{
            text-align: center;
            
            &__image{
                width: 100%;
                aspect-ratio: 16/9;
                object-fit: cover;
                margin-top: -1.5rem;
            }

            &__characteristics{
                transition: opacity 150ms ease-in;
                opacity: 0;
                padding: .8rem 1.5rem;
                list-style: none;
                display: inline-flex;
                gap: 1rem;
                align-items: center;
                background-color: $color-blanco;
                position: relative;
            }

            &__description{
                transition: opacity 150ms ease-in;
                opacity: 0;
                width: 90%;
                margin: 0 auto;
                margin-top: -1.5rem;
                background-color: $color-blanco;
                position: relative;
                padding: 1rem 2rem;
                &__text-container{
                    
                    &__name{
                        display: inline-block;
                        @include old-standard-font;
                        font-size: 1.75rem;
                        font-weight: 400;
                        letter-spacing: -.05rem;
                        color: $color-negro;
                        text-decoration: none;
                        margin-bottom: .5rem;
                    }

                    &__mini-description{
                        @include roboto-font;
                        color: $color-gris;
                        font-size: 0.9rem;
                        margin-bottom: 1rem;
                    }

                }

                &__price{
                    font-size: 2rem;
                    color: $color-caqui;
                    font-weight: 700;

                    &__per-night{
                        font-size: 0.8rem;
                    }
                }
            }

            
        }

        .room-selection.swiper-slide-active{
            .room-selection__description{
                opacity: 1; 
            }

            .room-selection__characteristics{
                opacity: 1;
            }

        }

        .swiper-button-prev, .swiper-button-next{
            position: absolute;
            top: 35%;
            padding: 0 1.3rem;
            font-size: 1.2rem;
            color: $color-negro;
            font-weight: 700;
        }

        .swiper-button-prev{
            left: 3%;
            background-color: $color-blanco;
        }
   
        .swiper-button-next{
            right: 3%;
            background-color: $color-blanco;
        }

        .swiper-button-prev::after, .swiper-button-next::after{
           content: "";
        }   
    }
}

@media only screen and (min-width: 1000px) {
    .rooms-section{
        margin-bottom: 4rem;
        &__title{
            font-size: 5rem;
        }
        &__swiper{

            .room-selection{
                &__description{
                    padding-top: 2rem;
                    padding-bottom: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    &__text-container{
                        width: 50%;
                        text-align: left;
    
                        &__mini-description{
                            margin: 0;
                        }
    
                    }
    
                    &__price{
                        font-size: 2rem;
                        color: $color-caqui;
                        font-weight: 700;
    
                        &__per-night{
                            font-size: 0.8rem;
                        }
                    }
                }
            }

            .swiper-button-prev, .swiper-button-next{
                top: 40%;
                transition: background-color 150ms ease-in, color 150ms ease-in;
            }

            .swiper-button-prev{
                left: 25%;
                background-color: $color-blanco;
            }
       
            .swiper-button-next{
                right: 25%;
                background-color: $color-blanco;
            }

            .swiper-button-next:hover, .swiper-button-prev:hover{
                background-color: $color-caqui;
                color: $color-blanco;
            }
        }
    }
}