@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.header__title {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  padding: 1rem 1.5rem;
  filter: drop-shadow(rgba(0, 0, 0, 0.3764705882) 0 0 3px);
  z-index: 10;
}
.navbar__hamburger-button {
  background-color: transparent;
  border: none;
  display: block;
}
.navbar__hamburger-button__image {
  display: block;
  width: 24px;
}
.navbar__logo {
  display: inline-block;
  background-color: #ffffff;
  color: #111111;
  text-transform: uppercase;
  width: 55%;
}
.navbar__logo__letter {
  font-family: "Archivo", sans-serif;
  padding: 0.4rem 0.8rem;
  display: inline-block;
  background-color: #ffffff;
  filter: drop-shadow(rgba(139, 139, 139, 0.3764705882) 0 0 10px);
  font-size: 2rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}
.navbar__logo__text-container {
  font-family: "Archivo", sans-serif;
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
  letter-spacing: 0.15rem;
}
.navbar__logo__text-container__title {
  font-weight: 700;
}
.navbar__links-container {
  display: none;
  list-style: none;
}
.navbar__links-container__link {
  margin-bottom: 1.5rem;
}
.navbar__links-container__link__text {
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #222222;
}
.navbar__buttons__button {
  display: inline-block;
  vertical-align: middle;
}
.navbar__buttons__button__image {
  display: block;
  width: 25px;
}
.navbar__buttons__button--user {
  margin-right: 1.2rem;
}

.show-links {
  width: 100%;
  padding: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 0;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  filter: drop-shadow(rgba(139, 139, 139, 0.3764705882) 0 0 10px);
}

.x-icon {
  padding: 0.28rem;
}
.x-icon img {
  width: 15px;
}

@media only screen and (min-width: 1000px) {
  .show-links {
    position: static;
    filter: none;
  }
  .header {
    background-color: #222222;
    padding-left: 9rem;
    padding-right: 9rem;
    padding-top: 1rem;
    padding-bottom: 4rem;
  }
  .header__title {
    display: block;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
  }
  .navbar {
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
    filter: none;
    margin-top: -2.5rem;
    margin-bottom: -2.65rem;
  }
  .navbar__hamburger-button {
    display: none;
  }
  .navbar__logo {
    width: 25%;
  }
  .navbar__logo__letter {
    font-size: 2.2rem;
  }
  .navbar__links-container {
    display: flex;
    align-items: center;
    gap: 3rem;
    width: 60%;
  }
  .navbar__links-container__link {
    margin: 0;
  }
  .navbar__buttons__button {
    border: 2px solid rgba(133, 133, 133, 0.3019607843);
    padding: 0.8rem;
  }
  .navbar__buttons__button__image {
    width: 18px;
  }
  .navbar__buttons__button--user {
    margin-right: 0.7rem;
  }
}
.front {
  background-color: #333333;
}
.front__banner {
  padding: 3rem 1rem;
  color: #ffffff;
}
.front__banner__subtitle {
  font-family: "Archivo", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  width: 70%;
  line-height: 1.1rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}
.front__banner__title {
  font-family: "Old Standard TT", serif;
  font-size: 3.4rem;
  font-weight: 400;
  letter-spacing: -0.15rem;
  margin-bottom: 1rem;
}
.front__banner__link {
  font-family: "Archivo", sans-serif;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  border: 2px solid rgba(255, 255, 255, 0.3294117647);
  padding: 1.4rem 2.5rem;
  letter-spacing: 0.2rem;
}
.front__banner__link--tour {
  background-color: #BDAC8D;
  border: none;
  margin-bottom: 1.5rem;
  margin-right: 2rem;
}
.front__availability {
  padding: 3rem 1rem;
  background-color: #222222;
}
.front__availability__field__label {
  display: block;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 1.2rem;
}
.front__availability__field__date-input {
  display: flex;
  position: relative;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #BEAD8E;
  padding: 0.5rem 0;
  padding-left: 1.8rem;
  color: #BDBDBD;
  margin-bottom: 2rem;
}
.front__availability__field__date-input::-webkit-inner-spin-button, .front__availability__field__date-input::-webkit-calendar-picker-indicator {
  background-image: url("../assets/icons/home-page/calendar.png");
  position: absolute;
  left: 0;
  font-size: 1.1rem;
  cursor: pointer;
}
.front__availability__submit {
  font-family: "Archivo", sans-serif;
  border: none;
  background-color: #BEAD8E;
  color: #ffffff;
  padding: 1.4rem 2rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  margin-top: 1rem;
}

@media only screen and (min-width: 1000px) {
  .front__banner {
    padding: 8rem 13rem;
    padding-bottom: 3rem;
  }
  .front__banner__subtitle {
    font-size: 0.7rem;
  }
  .front__banner__title--home {
    font-size: 7rem;
    width: 53%;
  }
  .front__availability {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .front__availability__field {
    text-align: left;
    display: inline-block;
    width: 20%;
    vertical-align: middle;
    margin-right: 2rem;
  }
  .front__availability__field__date-input {
    margin: 0;
  }
  .front__availability__submit {
    margin-left: 6rem;
  }
}
.footer {
  background-image: url("../assets/images/background-footer.png");
  background-blend-mode: soft-light;
}
.footer__top-container {
  padding: 1.5rem 1.5rem;
}
.footer__top-container__hotel {
  margin-bottom: 2rem;
}
.footer__top-container__hotel__logo {
  display: inline-block;
  background-color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 3rem;
}
.footer__top-container__hotel__logo__letter {
  font-family: "Archivo", sans-serif;
  padding: 1rem 1.4rem;
  display: inline-block;
  background-color: #BDAC8D;
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 700;
  vertical-align: middle;
  margin-right: 1.3rem;
}
.footer__top-container__hotel__logo__text-container {
  font-family: "Archivo", sans-serif;
  color: #111111;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
}
.footer__top-container__hotel__logo__text-container__title {
  font-weight: 700;
}
.footer__top-container__hotel__text {
  font-family: "Archivo", sans-serif;
  line-height: 1.5rem;
  color: #777777;
  margin-bottom: 2rem;
}
.footer__top-container__hotel__socials__link {
  display: inline-block;
  background-color: #F9F9F9;
  padding: 0.5rem;
  margin-right: 0.6rem;
}
.footer__top-container__hotel__socials__link__icon {
  vertical-align: middle;
}
.footer__top-container__hotel__socials__link--active {
  background-color: #BDAC8D;
}
.footer__top-container__services {
  margin-bottom: 0.5rem;
}
.footer__top-container__services__title {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.footer__top-container__services__list-container {
  display: flex;
  gap: 1rem;
}
.footer__top-container__services__list-container__list {
  list-style: none;
}
.footer__top-container__services__list-container__list .list-item {
  font-family: "Roboto", sans-serif;
  color: #777777;
  margin-bottom: 1.5rem;
}
.footer__top-container__contact-info__title {
  font-family: "Old Standard TT", serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.footer__top-container__contact-info__media {
  margin-bottom: 3.5rem;
}
.footer__top-container__contact-info__media .media__image {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
}
.footer__top-container__contact-info__media .media__data {
  display: inline-block;
  vertical-align: middle;
}
.footer__top-container__contact-info__media .media__data__title {
  font-family: "Old Standard TT", serif;
  font-size: 1.25rem;
  font-weight: 400;
}
.footer__top-container__contact-info__media .media__data__text {
  font-family: "Roboto", sans-serif;
  color: #777777;
  text-decoration: none;
  font-size: 0.9rem;
}
.footer__bottom-container {
  padding: 1.5rem 1.5rem;
  background-color: #F9F9F9;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: -0.02rem;
}
.footer__bottom-container__text {
  margin-bottom: 1.5rem;
  color: #222222;
}
.footer__bottom-container__links-container {
  word-spacing: 0.8rem;
}
.footer__bottom-container__links-container__link {
  word-spacing: normal;
  color: #222222;
  text-decoration: none;
}

@media only screen and (min-width: 1000px) {
  .footer__top-container {
    display: flex;
    justify-content: space-evenly;
  }
  .footer__top-container__hotel {
    width: 15%;
  }
  .footer__top-container__services {
    width: 20%;
  }
  .footer__top-container__contact-info {
    width: 30%;
  }
  .footer__bottom-container {
    display: flex;
    justify-content: space-around;
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .footer__bottom-container__text {
    margin: 0;
  }
}
.identifier {
  text-align: right;
  padding-right: 1.5rem;
  margin-top: -3.1rem;
}
.identifier__text {
  font-family: "Archivo", sans-serif;
  background-color: #ffffff;
  display: inline-block;
  padding: 1rem 1.5rem;
  font-weight: 700;
  word-spacing: 0.3rem;
}
.identifier__text__section {
  color: #BDAC8D;
}

@media only screen and (min-width: 1000px) {
  .identifier {
    margin-top: -3rem;
    padding-right: 15rem;
  }
}
.about-section {
  margin-top: 3.75rem;
  margin-bottom: 2.5rem;
}
.about-section__text-container {
  background-color: #F9F9F9;
  padding: 1.5rem;
  padding-bottom: 8rem;
}
.about-section__text-container__subtitle {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #777777;
  letter-spacing: 0.2rem;
  margin-bottom: 1.8rem;
}
.about-section__text-container__title {
  font-family: "Old Standard TT", serif;
  font-size: 3.4rem;
  font-weight: 400;
  letter-spacing: -0.15rem;
  color: #111111;
  margin-bottom: 1rem;
}
.about-section__text-container__text {
  font-family: "Archivo", sans-serif;
  color: #777777;
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
.about-section__text-container__link {
  display: inline-block;
  font-family: "Archivo", sans-serif;
  color: #ffffff;
  text-decoration: none;
  background-color: #BDAC8D;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  padding: 1.3rem 2.5rem;
}
.about-section__images-container {
  margin-top: -5.5rem;
  padding: 0 3rem;
}
.about-section__images-container__column {
  width: 100%;
  margin-bottom: 2rem;
}
.about-section__images-container__column__image {
  width: 100%;
  aspect-ratio: 4/4;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-section__images-container__column__text-container {
  position: relative;
  text-align: center;
  padding: 4rem 0;
}
.about-section__images-container__column__text-container .text-container__bg-image {
  position: absolute;
  top: 15%;
  right: 0;
  opacity: 0.15;
  width: 50%;
}
.about-section__images-container__column__text-container .text-container__image {
  margin-bottom: 0.7rem;
}
.about-section__images-container__column__text-container .text-container__title {
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Old Standard TT", serif;
  letter-spacing: -0.1rem;
  margin-bottom: 0.7rem;
}
.about-section__images-container__column__text-container .text-container__text {
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
  width: 70%;
  margin: 0 auto;
}
.about-section__images-container__column__text-container--dark-bg {
  background-color: #222222;
  color: #ffffff;
}
.about-section__images-container__column--lower-height {
  margin: 0;
}

@media only screen and (min-width: 1000px) {
  .about-section {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    margin-top: 10rem;
  }
  .about-section__images-container {
    margin: 0;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    width: 35%;
    margin-right: -8rem;
    z-index: 2;
  }
  .about-section__images-container__column {
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .about-section__images-container__column--lower-height {
    flex-direction: column;
    margin-top: 2rem;
  }
  .about-section__images-container__column__text-container {
    aspect-ratio: 3/3.5;
    padding: 0;
    align-content: center;
  }
  .about-section__images-container__column__image {
    aspect-ratio: 3/3.5;
  }
  .about-section__text-container {
    width: 60%;
    padding: 0 10rem;
    padding-bottom: 20rem;
    margin-top: 12rem;
    flex-shrink: 0;
  }
  .about-section__text-container__subtitle {
    margin-top: -3rem;
  }
  .about-section__text-container__title {
    font-size: 5rem;
    width: 75%;
  }
  .about-section__text-container__text {
    width: 50%;
  }
}
.rooms-section {
  margin-bottom: 2.5rem;
}
.rooms-section__subtitle {
  font-size: 0.9rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #777777;
  margin-bottom: 1.5rem;
  text-align: center;
}
.rooms-section__title {
  font-size: 3.4rem;
  font-weight: 400;
  letter-spacing: -0.15rem;
  font-family: "Old Standard TT", serif;
  text-align: center;
  margin-bottom: 3rem;
}
.rooms-section__swiper {
  width: 100%;
  position: relative;
}
.rooms-section__swiper .room-selection {
  text-align: center;
}
.rooms-section__swiper .room-selection__image {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: -1.5rem;
}
.rooms-section__swiper .room-selection__characteristics {
  width: 80%;
  margin: 0 auto;
  transition: opacity 150ms ease-in;
  opacity: 0;
  padding: 0.8rem 1.5rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  background-color: #ffffff;
  position: relative;
}
.rooms-section__swiper .room-selection__description {
  transition: opacity 150ms ease-in;
  opacity: 0;
  width: 90%;
  margin: 0 auto;
  margin-top: -1.5rem;
  background-color: #ffffff;
  position: relative;
  padding: 1rem 2rem;
}
.rooms-section__swiper .room-selection__description__text-container__name {
  display: inline-block;
  font-family: "Old Standard TT", serif;
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: -0.05rem;
  color: #111111;
  text-decoration: none;
  margin-bottom: 0.5rem;
}
.rooms-section__swiper .room-selection__description__text-container__mini-description {
  font-family: "Roboto", sans-serif;
  color: #777777;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.rooms-section__swiper .room-selection__description__price {
  font-size: 2rem;
  color: #BDAC8D;
  font-weight: 700;
  font-family: "Archivo", sans-serif;
}
.rooms-section__swiper .room-selection__description__price__per-night {
  font-size: 0.8rem;
}
.rooms-section__swiper .room-selection.swiper-slide-active .room-selection__description {
  opacity: 1;
}
.rooms-section__swiper .room-selection.swiper-slide-active .room-selection__characteristics {
  opacity: 1;
}
.rooms-section__swiper .swiper-button-prev, .rooms-section__swiper .swiper-button-next {
  position: absolute;
  top: 35%;
  padding: 0 1.3rem;
  font-size: 1.2rem;
  color: #111111;
  font-weight: 700;
  background-color: #ffffff;
}
.rooms-section__swiper .swiper-button-prev {
  left: 3%;
}
.rooms-section__swiper .swiper-button-next {
  right: 3%;
}
.rooms-section__swiper .swiper-button-prev::after, .rooms-section__swiper .swiper-button-next::after {
  content: "";
}

@media only screen and (min-width: 1000px) {
  .rooms-section {
    margin-bottom: 4rem;
  }
  .rooms-section__title {
    font-size: 5rem;
  }
  .rooms-section__swiper .room-selection__description {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .rooms-section__swiper .room-selection__description__text-container {
    width: 50%;
    text-align: left;
  }
  .rooms-section__swiper .room-selection__description__text-container__mini-description {
    margin: 0;
  }
  .rooms-section__swiper .room-selection__description__price {
    font-size: 2rem;
    color: #BDAC8D;
    font-weight: 700;
  }
  .rooms-section__swiper .room-selection__description__price__per-night {
    font-size: 0.8rem;
  }
  .rooms-section__swiper .swiper-button-prev, .rooms-section__swiper .swiper-button-next {
    top: 40%;
    transition: background-color 150ms ease-in, color 150ms ease-in;
  }
  .rooms-section__swiper .swiper-button-prev {
    left: 25%;
  }
  .rooms-section__swiper .swiper-button-next {
    right: 25%;
  }
  .rooms-section__swiper .swiper-button-next:hover, .rooms-section__swiper .swiper-button-prev:hover {
    background-color: #BDAC8D;
    color: #ffffff;
  }
}
.video-presentation-container {
  background-color: #222222;
  padding: 3rem 1.5rem;
  margin-bottom: 3.75rem;
}
.video-presentation-container__info__text .subtitle {
  color: #BDAC8D;
  font-family: "Archivo", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}
.video-presentation-container__info__text .title {
  font-family: "Old Standard TT", serif;
  font-size: 3.4rem;
  font-weight: 400;
  letter-spacing: -0.15rem;
  color: #ffffff;
  width: 80%;
  margin-bottom: 1.5rem;
}
.video-presentation-container__info__text .text {
  font-family: "Archivo", sans-serif;
  color: #C2C2C2;
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}
.video-presentation-container__info__video {
  width: 100%;
  margin-bottom: 2.25rem;
}
.video-presentation-container__learn-more {
  font-family: "Archivo", sans-serif;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  padding: 1.4rem 2.5rem;
  letter-spacing: 0.2rem;
  background-color: #BDAC8D;
}

@media only screen and (min-width: 1000px) {
  .video-presentation-container {
    padding: 7rem 15rem;
    background: linear-gradient(90deg, #222222 70%, #AD9D82 30%);
  }
  .video-presentation-container__info {
    display: flex;
  }
  .video-presentation-container__info__text {
    width: 70%;
  }
  .video-presentation-container__info__text .title {
    font-size: 5rem;
  }
  .video-presentation-container__info__text .text {
    width: 55%;
  }
  .video-presentation-container__info__video {
    width: 45%;
    height: auto;
    aspect-ratio: 4/3;
  }
}
.facilities-section {
  margin-bottom: 4rem;
}
.facilities-section__subtitle {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #777777;
  letter-spacing: 0.15rem;
  text-align: center;
  margin-bottom: 1rem;
}
.facilities-section__title {
  font-size: 3.4rem;
  font-weight: 400;
  letter-spacing: -0.15rem;
  font-family: "Old Standard TT", serif;
  text-align: center;
}
.facilities-section .feature {
  padding-bottom: 4rem;
  padding-right: 4rem;
  padding-left: 2rem;
  padding-top: 6rem;
  position: relative;
}
.facilities-section .feature__number {
  font-family: "Archivo", sans-serif;
  position: absolute;
  top: 5%;
  right: 10%;
  font-size: 7.5rem;
  color: rgba(34, 34, 34, 0.0392156863);
  font-weight: 700;
}
.facilities-section .feature__icon {
  margin-bottom: 1.75rem;
}
.facilities-section .feature__title {
  font-family: "Old Standard TT", serif;
  font-size: 1.9rem;
  font-weight: 400;
  letter-spacing: -0.05rem;
}
.facilities-section .feature__text {
  font-family: "Archivo", sans-serif;
  color: #777777;
  line-height: 1.5rem;
  font-size: 0.9rem;
}
.facilities-section .features-list-swiper .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
}
.facilities-section .features-list-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #BDAC8D;
}

@media only screen and (min-width: 1000px) {
  .facilities-section {
    margin: 0;
  }
  .facilities-section__title {
    font-size: 5rem;
  }
  .facilities-section .features-list-swiper .swiper-wrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: 15% 15% 15%;
    gap: 3rem;
  }
  .facilities-section .features-list-swiper .swiper-wrapper .feature {
    padding: 2rem 0;
  }
  .facilities-section .features-list-swiper .swiper-wrapper .feature__number {
    font-size: 6.5rem;
  }
}
.menu {
  position: relative;
  padding: 1.5rem;
  padding-top: 7rem;
  overflow-x: hidden;
}
.menu__donut-image {
  position: absolute;
  right: -7%;
  top: 0;
  width: 115px;
}
.menu__subtitle {
  font-family: "Archivo", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #777777;
  margin-bottom: 1.5rem;
}
.menu__title {
  font-size: 3.4rem;
  font-weight: 400;
  letter-spacing: -0.15rem;
  font-family: "Old Standard TT", serif;
}
.menu .food-list {
  list-style-type: none;
}
.menu .food-list .food {
  margin-bottom: 1rem;
}
.menu .food-list .food__link {
  display: flex;
  justify-content: space-between;
  color: #111111;
  text-decoration: none;
}
.menu .food-list .food__link__image {
  width: 40%;
  height: auto;
  aspect-ratio: 3/4;
  -o-object-fit: cover;
     object-fit: cover;
}
.menu .food-list .food__link__text-container {
  width: 55%;
  padding: 1rem 0;
  padding-bottom: 0;
}
.menu .food-list .food__link__text-container__title {
  font-family: "Old Standard TT", serif;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.05rem;
}
.menu .food-list .food__link__text-container__text {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5rem;
}
.menu .food-list .food__link__hidden-arrow {
  display: none;
}
.menu .food-list-swiper {
  padding-bottom: 5rem;
}
.menu .food-list-swiper .swiper-button-next, .menu .food-list-swiper .swiper-button-prev {
  position: absolute;
  background-color: #F9F9F9;
  color: #111111;
  padding: 0 1.3rem;
  font-size: 1.1rem;
  top: 95%;
}
.menu .food-list-swiper .swiper-button-next {
  right: 0;
}
.menu .food-list-swiper .swiper-button-prev {
  left: 70%;
}
.menu .food-list-swiper .swiper-button-prev::after, .menu .food-list-swiper .swiper-button-next::after {
  content: "";
  display: none;
}

@media only screen and (min-width: 1000px) {
  .menu {
    padding: 0 20rem;
    padding-top: 15rem;
    margin-bottom: 5rem;
  }
  .menu__donut-image {
    width: 230px;
    right: auto;
    left: 3%;
  }
  .menu__title {
    font-size: 5rem;
  }
  .menu .food-list-swiper {
    padding: 0;
    padding-top: 7rem;
    text-align: right;
  }
  .menu .food-list-swiper .food {
    text-align: left;
    padding-right: 2rem;
  }
  .menu .food-list-swiper .food__link {
    justify-content: start;
    align-items: center;
  }
  .menu .food-list-swiper .food__link__image {
    aspect-ratio: 1/1;
    width: 20%;
  }
  .menu .food-list-swiper .food__link__text-container {
    width: auto;
    padding: 0;
    padding-left: 2rem;
    align-content: center;
  }
  .menu .food-list-swiper .food:hover {
    background-color: #222222;
  }
  .menu .food-list-swiper .food:hover .food__link {
    color: #ffffff;
  }
  .menu .food-list-swiper .food:hover .food__link__hidden-arrow {
    display: block;
  }
  .menu .food-list-swiper .swiper-button-next, .menu .food-list-swiper .swiper-button-prev {
    width: auto;
    height: auto;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    position: static;
    display: inline-block;
    transition: background-color 150ms ease-in, color 150ms ease-in;
  }
  .menu .food-list-swiper .swiper-button-prev {
    margin-right: 2rem;
  }
  .menu .food-list-swiper .swiper-button-next:hover, .menu .food-list-swiper .swiper-button-prev:hover {
    background-color: #BDAC8D;
    color: #ffffff;
  }
}
.hotel-images-swiper {
  margin-bottom: 2.75rem;
}
.hotel-images-swiper .swiper-slide {
  padding: 2rem 1rem;
}
.hotel-images-swiper .swiper-slide .hotel-image {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.hotel-images-swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #BDAC8D;
}

@media only screen and (min-width: 1000px) {
  .hotel-images-swiper .swiper-wrapper {
    display: flex;
    justify-content: center;
  }
  .hotel-images-swiper .swiper-wrapper .swiper-slide {
    width: 20%;
  }
  .hotel-images-swiper .swiper-wrapper .swiper-slide .hotel-image {
    width: 100%;
    aspect-ratio: 1/1;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.satisfaction {
  background-color: #222222;
  padding: 3rem 0;
  text-align: center;
  margin-bottom: 3.75rem;
}
.satisfaction__archievement {
  margin-bottom: 3.75rem;
  font-family: "Roboto", sans-serif;
}
.satisfaction__archievement__image {
  margin-bottom: 1rem;
}
.satisfaction__archievement__number {
  color: #ffffff;
  font-size: 3.75rem;
  font-weight: 700;
  margin-bottom: -0.5rem;
}
.satisfaction__archievement__number__sign {
  font-size: 1rem;
}
.satisfaction__archievement__name {
  color: #999999;
  font-weight: 700;
}
.satisfaction__archievement--last {
  margin-bottom: 0;
}

@media only screen and (min-width: 1000px) {
  .satisfaction {
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 5rem;
    margin: 0 auto;
    margin-bottom: 4rem;
  }
  .satisfaction__archievement {
    margin: 0;
  }
}
.about {
  margin-top: 1.75rem;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
}
.about__video {
  display: block;
  width: 100%;
  margin: 0 auto;
  aspect-ratio: 16/9;
  margin-bottom: 2rem;
}
.about__title {
  font-family: "Old Standard TT", serif;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: -0.05rem;
  text-align: center;
  margin-bottom: 3rem;
}
.about__buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.about__buttons-container__button {
  aspect-ratio: 1/1;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.about__buttons-container__button .button-icon {
  width: 40%;
  margin-bottom: 1rem;
}
.about__buttons-container__button .button-text {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.about__buttons-container__button--active {
  background-color: #BDAC8D;
  color: #ffffff;
}
.about__buttons-container__button--active .button__icon {
  width: 40%;
}
.about__benefit {
  padding: 0 1rem;
}
.about__benefit__image {
  display: block;
  width: 100%;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.about__benefit__text-container__subtitle {
  font-family: "Archivo", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 1.5rem;
}
.about__benefit__text-container__title {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 2.5rem;
  letter-spacing: -0.05rem;
  margin-bottom: 1rem;
}
.about__benefit__text-container__text {
  font-family: "Archivo", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: #777777;
  margin-bottom: 1rem;
}
.about__benefit__text-container__link {
  font-family: "Archivo", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  display: inline-block;
  background-color: #BDAC8D;
  color: #ffffff;
  text-decoration: none;
  padding: 1.5rem 3rem;
}

@media only screen and (min-width: 1000px) {
  .about {
    margin-top: 4rem;
  }
  .about__video {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .about__title {
    font-size: 3rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .about__buttons-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 4rem;
  }
  .about__buttons-container__button {
    padding: 1rem;
  }
  .about__benefit {
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    gap: 3rem;
  }
  .about__benefit__image {
    margin: 0;
  }
  .about__benefit__text-container {
    align-content: center;
    padding: 3rem 0;
  }
}
.facilities {
  background-color: #222222;
  padding: 4rem 1rem;
  margin-bottom: 3.5rem;
}
.facilities__subtitle {
  font-family: "Archivo", sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
  margin-bottom: 1rem;
}
.facilities__title {
  font-family: "Old Standard TT", serif;
  font-size: 3.4rem;
  font-weight: 400;
  letter-spacing: -0.15rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 1rem;
}
.facilities .facilities-list-swiper {
  padding: 3rem 0;
}
.facilities .facilities-list-swiper .facility {
  position: relative;
  background-color: #292929;
  padding: 2rem 1rem;
}
.facilities .facilities-list-swiper .facility__number {
  font-family: "Archivo", sans-serif;
  position: absolute;
  top: 0;
  right: 5%;
  font-size: 7.5rem;
  color: #222222;
  font-weight: 700;
}
.facilities .facilities-list-swiper .facility__icon {
  margin-bottom: 1.75rem;
}
.facilities .facilities-list-swiper .facility__title {
  font-family: "Old Standard TT", serif;
  color: #ffffff;
  font-size: 1.9rem;
  font-weight: 400;
  letter-spacing: -0.05rem;
}
.facilities .facilities-list-swiper .facility__text {
  font-family: "Archivo", sans-serif;
  color: #ffffff;
  line-height: 1.5rem;
  font-size: 0.9rem;
}
.facilities .facilities-list-swiper .swiper-pagination-bullet-active {
  background-color: #BDAC8D;
}

@media only screen and (min-width: 1000px) {
  .facilities__title {
    font-size: 4rem;
  }
  .facilities .facilities-list-swiper .swiper-wrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: 15% 15% 15%;
    gap: 3rem;
  }
  .facilities .facilities-list-swiper .swiper-wrapper .facility__number {
    font-size: 6.5rem;
  }
}
.counter {
  padding: 0 1.5rem;
  margin-bottom: 4rem;
}
.counter__subtitle {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 1.5rem;
  color: #777777;
}
.counter__title {
  font-family: "Old Standard TT", serif;
  font-size: 3.4rem;
  font-weight: 400;
  letter-spacing: -0.15rem;
  margin-bottom: 2rem;
}
.counter__archievement-list {
  list-style: none;
}
.counter__archievement-list__archievement {
  margin-bottom: 2rem;
}
.counter__archievement-list__archievement__image {
  display: inline-block;
  vertical-align: middle;
}
.counter__archievement-list__archievement__text-container {
  display: inline-block;
  vertical-align: middle;
}
.counter__archievement-list__archievement__text-container__title {
  font-family: "Old Standard TT", serif;
  font-size: 3.4rem;
  font-weight: 400;
  letter-spacing: -0.15rem;
}
.counter__archievement-list__archievement__text-container__subtitle {
  font-family: "Roboto", sans-serif;
  color: #777777;
}
.counter__archievement-list__archievement__arrow {
  display: inline-block;
  vertical-align: middle;
}
.counter__images-swiper .swiper-slide {
  padding: 2rem 0;
}
.counter__images-swiper .swiper-slide .counter-image {
  width: 100%;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
}
.counter__images-swiper .swiper-pagination-bullet-active {
  background-color: #BDAC8D;
}

@media only screen and (min-width: 1000px) {
  .counter {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .counter__archievement-list {
    margin-bottom: 3rem;
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
  }
  .counter__archievement-list__archievement {
    margin: 0;
  }
  .counter__archievement-list__archievement__text-container {
    margin-right: 1rem;
  }
  .counter__images-swiper .swiper-wrapper {
    gap: 1rem;
  }
  .counter__images-swiper .swiper-wrapper .swiper-slide {
    width: 50%;
  }
}
.rooms {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  text-align: right;
}
.rooms__order-by-price {
  font-family: "Roboto", sans-serif;
  background-color: #F9F9F9;
  border: 1px solid #999999;
  padding: 0.5rem 1rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
}
.rooms__grid-container {
  text-align: center;
  padding: 0 1.5rem;
}
.rooms__grid-container__room {
  padding: 1rem 0;
  margin-bottom: 0.5rem;
}
.rooms__grid-container__room__image-link {
  display: block;
  margin-bottom: -2rem;
}
.rooms__grid-container__room__image-link__image {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
.rooms__grid-container__room__room-perks {
  width: 80%;
  margin: 0 auto;
  padding: 0.8rem 1.5rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #ffffff;
  position: relative;
}
.rooms__grid-container__room__name {
  display: inline-block;
  font-family: "Old Standard TT", serif;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.05rem;
  color: #111111;
  text-decoration: none;
  margin-bottom: 0.5rem;
}
.rooms__grid-container__room__description {
  font-family: "Roboto", sans-serif;
  color: #777777;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
}
.rooms__grid-container__room__price {
  font-family: "Archivo", sans-serif;
  display: inline-block;
  font-size: 1rem;
  color: #BDAC8D;
  font-weight: 700;
  margin-right: 1rem;
}
.rooms__grid-container__room__book-button {
  font-family: "Archivo", sans-serif;
  display: inline-block;
  font-size: 1rem;
  color: #BDBDBD;
  font-weight: 700;
  text-decoration: none;
}
.rooms__pagination {
  display: block;
  text-align: center;
  word-spacing: 0.3rem;
}
.rooms__pagination__page {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #111111;
  letter-spacing: -0.05rem;
  padding: 0.7rem 0.9rem;
}
.rooms__pagination__page--active {
  background-color: #BDAC8D;
  color: #ffffff;
}

@media only screen and (min-width: 1000px) {
  .rooms {
    margin: 3rem 0;
  }
  .rooms__order-by-price {
    font-size: 1.2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-right: 13rem;
  }
  .rooms__grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: center;
    gap: 1.9rem;
    margin-bottom: 2rem;
  }
}
.room-details {
  margin: 3rem 0;
}
.room-details__description {
  margin-bottom: 3rem;
  padding: 0 1rem;
}
.room-details__description .mini-description {
  margin-bottom: 1rem;
}
.room-details__description .mini-description__room-name {
  margin-bottom: 1rem;
}
.room-details__description .mini-description__room-name__subtitle {
  font-family: "Archivo", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-size: 0.9rem;
  color: #777777;
  margin-bottom: 0.5rem;
  font-weight: 700;
}
.room-details__description .mini-description__room-name__title {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 2.45rem;
  letter-spacing: -0.1rem;
}
.room-details__description .mini-description__prices-container__price {
  font-family: "Archivo", sans-serif;
  color: #BDAC8D;
  font-weight: 700;
  font-size: 2rem;
}
.room-details__description .mini-description__prices-container__price__per-night {
  font-size: 0.8rem;
}
.room-details__description .mini-description__prices-container__price--previous {
  margin-bottom: 1rem;
}
.room-details__description .mini-description__prices-container__price--previous .mini-description__prices-container__price__number {
  font-size: 1.5rem;
}
.room-details__description .mini-description__prices-container__price--previous .mini-description__prices-container__price__per-night, .room-details__description .mini-description__prices-container__price--previous .mini-description__prices-container__price__number {
  text-decoration: line-through;
}
.room-details__description .mini-description__prices-container__price--discount {
  color: #DE5777;
}
.room-details__description .room-image-and-form__image {
  width: 100%;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 2.5rem;
}
.room-details__description .room-image-and-form .availability-form {
  padding: 1.5rem 2rem;
}
.room-details__description .room-image-and-form .availability-form__title {
  font-family: "Archivo", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}
.room-details__description .room-image-and-form .availability-form__label {
  font-family: "Archivo", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  display: block;
  margin-bottom: 1rem;
}
.room-details__description .room-image-and-form .availability-form__date-input {
  width: 100%;
  padding: 1rem;
  position: relative;
  border: none;
  background-color: #F9F9F9;
  margin-bottom: 1rem;
}
.room-details__description .room-image-and-form .availability-form__date-input::-webkit-inner-spin-button, .room-details__description .room-image-and-form .availability-form__date-input::-webkit-calendar-picker-indicator {
  background-image: url("../assets/icons/room-details-page/calendar-grey.png");
  position: absolute;
  right: 7%;
  font-size: 1.1rem;
  color: white;
}
.room-details__description .room-image-and-form .availability-form__text-input {
  width: 100%;
  padding: 1rem;
  background-color: #F9F9F9;
  border: none;
  margin-bottom: 1rem;
}
.room-details__description .room-image-and-form .availability-form__textarea-input {
  width: 100%;
  padding: 1rem;
  background-color: #F9F9F9;
  border: none;
  margin-bottom: 1rem;
}
.room-details__description .room-image-and-form .availability-form__link {
  font-family: "Archivo", sans-serif;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  border: 2px solid rgba(255, 255, 255, 0.3294117647);
  padding: 1.4rem 2.5rem;
  letter-spacing: 0.2rem;
}
.room-details__description .room-image-and-form .availability-form__submit {
  width: 100%;
  font-family: "Archivo", sans-serif;
  text-transform: uppercase;
  font-size: 0.9rem;
  text-decoration: none;
  color: #ffffff;
  background-color: #BDAC8D;
  display: inline-block;
  padding: 1.4rem 0;
  letter-spacing: 0.2rem;
  border: none;
}
.room-details__description__big-description {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  color: #777777;
  padding: 0 0.5rem;
  line-height: 1.5rem;
}
.room-details__characteristics {
  margin-bottom: 5rem;
  padding: 0 1rem;
}
.room-details__characteristics__title {
  font-family: "Old Standard TT", serif;
  font-size: 1.9rem;
  font-weight: 400;
  border-bottom: 1px solid #F9F9F9;
  margin-bottom: 2.2rem;
  padding-bottom: 1rem;
}
.room-details__characteristics__list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;
}
.room-details__characteristics__list__perk__image {
  width: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
}
.room-details__characteristics__list__perk__text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #777777;
  display: inline-block;
  vertical-align: middle;
}
.room-details__founder {
  text-align: center;
  margin-bottom: 4rem;
  padding: 0 1rem;
}
.room-details__founder__circle-photo {
  position: relative;
  width: 45%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
.room-details__founder__circle-photo__image {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 9999px;
}
.room-details__founder__circle-photo__check {
  position: absolute;
  background-color: #BDAC8D;
  border-radius: 9999px;
  padding: 0.9rem 0.8rem;
  border: 4px solid #ffffff;
  top: 0%;
  right: 0%;
}
.room-details__founder__name {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 1.9rem;
  letter-spacing: -0.05rem;
  margin-bottom: 0.5rem;
}
.room-details__founder__title {
  font-family: "Archivo", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #BDAC8D;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.room-details__founder__description {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  color: #777777;
  padding: 0 2rem;
  line-height: 1.5rem;
}
.room-details__cancelation {
  padding: 0 1rem;
}
.room-details__cancelation__title {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 1.9rem;
  letter-spacing: -0.05rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #F9F9F9;
  padding-bottom: 0.5rem;
}
.room-details__cancelation__text {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  color: #777777;
  line-height: 1.5rem;
}
.room-details__related-rooms {
  padding: 0 1rem;
}
.room-details__related-rooms__title {
  font-family: "Old Standard TT", serif;
  font-size: 1.9rem;
  font-weight: 400;
  border-bottom: 1px solid #F9F9F9;
  margin-bottom: 2.2rem;
  padding-bottom: 1rem;
}
.room-details__related-rooms .related-rooms-swiper {
  width: 100%;
  position: relative;
}
.room-details__related-rooms .related-rooms-swiper .related-rooms {
  text-align: center;
}
.room-details__related-rooms .related-rooms-swiper .related-rooms__image {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: -1.5rem;
}
.room-details__related-rooms .related-rooms-swiper .related-rooms__characteristics {
  width: 80%;
  margin: 0 auto;
  transition: opacity 150ms ease-in;
  opacity: 0;
  padding: 0.8rem 1.5rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  position: relative;
  margin-bottom: 1.5rem;
}
.room-details__related-rooms .related-rooms-swiper .related-rooms__description {
  transition: opacity 150ms ease-in;
  opacity: 0;
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  position: relative;
  padding: 1rem 2rem;
}
.room-details__related-rooms .related-rooms-swiper .related-rooms__description__text-container__name {
  display: inline-block;
  font-family: "Old Standard TT", serif;
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: -0.05rem;
  color: #111111;
  text-decoration: none;
  margin-bottom: 0.5rem;
}
.room-details__related-rooms .related-rooms-swiper .related-rooms__description__text-container__mini-description {
  font-family: "Roboto", sans-serif;
  color: #777777;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.room-details__related-rooms .related-rooms-swiper .related-rooms__description__price {
  font-family: "Archivo", sans-serif;
  display: inline-block;
  color: #BDAC8D;
  font-weight: 700;
  margin-right: 0.5rem;
}
.room-details__related-rooms .related-rooms-swiper .related-rooms__description__book-button {
  font-family: "Archivo", sans-serif;
  display: inline-block;
  font-size: 1rem;
  color: #BDBDBD;
  font-weight: 700;
  text-decoration: none;
}
.room-details__related-rooms .related-rooms-swiper .related-rooms.swiper-slide-active .related-rooms__description {
  opacity: 1;
}
.room-details__related-rooms .related-rooms-swiper .related-rooms.swiper-slide-active .related-rooms__characteristics {
  opacity: 1;
}
.room-details__related-rooms .related-rooms-swiper .swiper-button-prev, .room-details__related-rooms .related-rooms-swiper .swiper-button-next {
  position: absolute;
  top: 25%;
  padding: 0 1.3rem;
}
.room-details__related-rooms .related-rooms-swiper .swiper-button-prev {
  left: 0;
  background-color: #ffffff;
}
.room-details__related-rooms .related-rooms-swiper .swiper-button-next {
  right: 0;
  background-color: #ffffff;
}
.room-details__related-rooms .related-rooms-swiper .swiper-button-prev::after, .room-details__related-rooms .related-rooms-swiper .swiper-button-next::after {
  font-size: 0.7rem;
  color: #111111;
}

@media only screen and (min-width: 1000px) {
  .room-details {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6rem;
  }
  .room-details__description .mini-description {
    width: 40%;
    background-color: #ffffff;
    margin: 0;
    margin-bottom: -4rem;
    z-index: 4;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 2rem;
  }
  .room-details__description .mini-description__room-name {
    margin: 0;
  }
  .room-details__description .mini-description__prices-container {
    align-content: center;
    text-align: right;
  }
  .room-details__description .room-image-and-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .room-details__description .room-image-and-form__image {
    width: 70%;
    aspect-ratio: 4/3;
  }
  .room-details__description .room-image-and-form .availability-form__textarea-input {
    height: 100px;
  }
  .room-details__description__big-description {
    width: 60%;
  }
  .room-details__characteristics {
    width: 80%;
  }
  .room-details__characteristics__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .room-details__founder {
    width: 40%;
    padding: 4rem 0;
    box-shadow: 0 14px 24px rgba(190, 173, 142, 0.2705882353);
  }
  .room-details__cancelation {
    width: 60%;
    padding: 0;
    padding-left: 3rem;
    margin-bottom: 4rem;
  }
  .room-details__related-rooms .related-rooms-swiper .swiper-wrapper {
    gap: 1rem;
  }
  .room-details__related-rooms .related-rooms-swiper .swiper-wrapper .related-rooms {
    width: 30%;
  }
  .room-details__related-rooms .related-rooms-swiper .swiper-wrapper .related-rooms__characteristics, .room-details__related-rooms .related-rooms-swiper .swiper-wrapper .related-rooms__description {
    opacity: 1;
  }
  .room-details__related-rooms .related-rooms-swiper .swiper-button-prev, .room-details__related-rooms .related-rooms-swiper .swiper-button-next {
    display: none;
  }
}
.offers {
  margin-top: 3rem;
  padding: 0 1rem;
}
.offers__room {
  position: relative;
  margin-bottom: 2rem;
}
.offers__room__image-link {
  display: block;
}
.offers__room__image-link__image {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
.offers__room__description {
  padding: 0 1rem;
  background-color: #ffffff;
}
.offers__room__description__price-name {
  padding-top: 1rem;
  margin-bottom: 1rem;
}
.offers__room__description__price-name .room-name__subtitle {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #777777;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}
.offers__room__description__price-name .room-name__title {
  font-family: "Old Standard TT", serif;
  display: inline-block;
  font-weight: 400;
  font-size: 2.25rem;
  text-decoration: none;
  color: #111111;
  width: 80%;
}
.offers__room__description__price-name .room-prices {
  position: absolute;
  top: 10%;
  right: 5%;
  text-align: right;
}
.offers__room__description__price-name .room-prices__price {
  font-family: "Archivo", sans-serif;
  color: #BDAC8D;
  font-weight: 700;
  font-size: 2rem;
}
.offers__room__description__price-name .room-prices__price__per-night {
  font-size: 0.8rem;
}
.offers__room__description__price-name .room-prices__price--previous {
  margin-bottom: 1rem;
}
.offers__room__description__price-name .room-prices__price--previous .room-prices__price__number {
  font-size: 1.5rem;
}
.offers__room__description__price-name .room-prices__price--previous .room-prices__price__per-night, .offers__room__description__price-name .room-prices__price--previous .room-prices__price__number {
  text-decoration: line-through;
}
.offers__room__description__price-name .room-prices__price--discount {
  color: #DE5777;
}
.offers__room__description__characteristics .characteristics__text-block {
  margin-bottom: 1.5rem;
}
.offers__room__description__characteristics .characteristics__text-block__description-text {
  font-family: "Archivo", sans-serif;
  font-size: 0.9rem;
  color: #777777;
  margin-bottom: 1rem;
  padding-right: 2rem;
  line-height: 1.5rem;
}
.offers__room__description__characteristics .characteristics__text-block__list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;
}
.offers__room__description__characteristics .characteristics__text-block__list__perk__image {
  width: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
}
.offers__room__description__characteristics .characteristics__text-block__list__perk__text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #777777;
  display: inline-block;
  vertical-align: middle;
}
.offers__room__description__characteristics .characteristics__book-now {
  font-family: "Archivo", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  display: inline-block;
  background-color: #BDAC8D;
  color: #ffffff;
  text-decoration: none;
  padding: 1.5rem 4rem;
}

.popular-rooms {
  text-align: center;
  background-color: #222222;
  padding: 3rem 0;
  margin-bottom: 2rem;
}
.popular-rooms__subtitle {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #BDAC8D;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}
.popular-rooms__title {
  font-family: "Old Standard TT", serif;
  display: inline-block;
  font-weight: 400;
  font-size: 2.25rem;
  text-decoration: none;
  color: #ffffff;
  width: 80%;
}
.popular-rooms .popular-rooms-swiper {
  width: 90%;
  position: relative;
}
.popular-rooms .popular-rooms-swiper .room {
  text-align: center;
}
.popular-rooms .popular-rooms-swiper .room__image {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: -1.5rem;
}
.popular-rooms .popular-rooms-swiper .room__characteristics {
  padding: 0.8rem 1.5rem;
  list-style: none;
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}
.popular-rooms .popular-rooms-swiper .room__description {
  transition: opacity 150ms ease-in;
  opacity: 0;
  width: 100%;
  margin-top: -2.1rem;
  background-color: #ffffff;
  position: relative;
  padding: 1rem 2rem;
  padding-top: 3rem;
}
.popular-rooms .popular-rooms-swiper .room__description__text-container__name {
  display: inline-block;
  font-family: "Old Standard TT", serif;
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: -0.05rem;
  color: #111111;
  text-decoration: none;
  margin-bottom: 0.5rem;
}
.popular-rooms .popular-rooms-swiper .room__description__text-container__mini-description {
  font-family: "Roboto", sans-serif;
  color: #777777;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.popular-rooms .popular-rooms-swiper .room__description__price {
  font-size: 2rem;
  color: #BDAC8D;
  font-weight: 700;
}
.popular-rooms .popular-rooms-swiper .room__description__price__per-night {
  font-size: 0.8rem;
}
.popular-rooms .popular-rooms-swiper .room.swiper-slide-active .room__description {
  opacity: 1;
}
.popular-rooms .popular-rooms-swiper .swiper-button-prev, .popular-rooms .popular-rooms-swiper .swiper-button-next {
  position: absolute;
  top: 25%;
  padding: 0 1.3rem;
}
.popular-rooms .popular-rooms-swiper .swiper-button-prev {
  left: 0;
  background-color: #ffffff;
}
.popular-rooms .popular-rooms-swiper .swiper-button-next {
  right: 0;
  background-color: #ffffff;
}
.popular-rooms .popular-rooms-swiper .swiper-button-prev::after, .popular-rooms .popular-rooms-swiper .swiper-button-next::after {
  font-size: 0.7rem;
  color: #111111;
}

.info {
  margin-top: 2rem;
  margin-bottom: 3.5rem;
}
.info__media {
  padding: 0 2rem;
}
.info__media__contact-media {
  position: relative;
  padding: 1rem 0;
  aspect-ratio: 4/3;
}
.info__media__contact-media__image {
  display: inline-block;
  vertical-align: top;
  margin-right: 1.5rem;
}
.info__media__contact-media__number {
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10rem;
  font-weight: 700;
  color: #F9F9F9;
  z-index: -1;
}
.info__media__contact-media__text {
  display: inline-block;
  width: 75%;
}
.info__media__contact-media__text__title {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}
.info__media__contact-media__text__text {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  color: #777777;
  text-decoration: none;
}
.info__map {
  width: 100%;
  padding: 0 1rem;
  aspect-ratio: 16/9;
}

@media only screen and (min-width: 1000px) {
  .info__media {
    display: grid;
    justify-content: center;
    grid-template-columns: 20% 20% 20%;
    gap: 3rem;
    margin-bottom: 2rem;
  }
  .info__media__contact-media {
    aspect-ratio: auto;
    padding: 4rem 0;
  }
  .info__map {
    width: 60%;
    margin: 0 auto;
    display: block;
  }
}
.form {
  padding: 0 1rem;
  margin-bottom: 3rem;
  text-align: center;
}
.form__label {
  display: none;
}
.form__input-grid__input {
  text-align: left;
  background-color: #F9F9F9;
  padding: 1.5rem 1rem;
  margin-bottom: 1rem;
}
.form__input-grid__input__icon {
  display: inline-block;
  vertical-align: top;
  margin-right: 1rem;
}
.form__input-grid__input__text-input {
  font-family: "Roboto", sans-serif;
  line-height: 1.1rem;
  border: none;
  background-color: transparent;
  width: 85%;
}
.form__input-grid__input__text-input:focus {
  outline-width: 0;
}
.form__submit {
  font-family: "Archivo", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  display: inline-block;
  background-color: #BDAC8D;
  color: #ffffff;
  text-decoration: none;
  padding: 1.5rem 6rem;
  border: none;
}

@media only screen and (min-width: 1000px) {
  .form__input-grid {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: center;
    gap: 1rem;
  }
  .form__input-grid__input {
    width: 100%;
    display: inline-block;
    margin: 0;
  }
  .form__input-grid__input--textarea {
    grid-column: 1/-1;
  }
  .form__submit {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}/*# sourceMappingURL=index.css.map */