.identifier{
    text-align: right;
    padding-right: 1.5rem;
    margin-top: -3.1rem;

    &__text{
        @include archivo-font;
        background-color: $color-blanco;
        display: inline-block;
        padding: 1rem 1.5rem;
        font-weight: 700;
        word-spacing: .3rem;

        &__section{
            color: $color-caqui;
        }
    }
}

@media only screen and (min-width: 1000px) {
    .identifier{
        margin-top: -3rem;
    }
}